

.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top:80px;
    position:relative;
}

@media (max-width: 768px){
    .searchbar-container{
        flex-direction: column;
        gap:10px;
    }
}
.searchbar{
    
    margin:10px auto;
    border-radius: 8px;
    height: 50px;
    width:400px;
    padding:10px ;
    outline: none;
    border: 1px solid lightgrey;
    overflow: hidden;
    
    
    
}
@media(max-width:480px){
    .searchbar{
        width:200px;
    }
}
@media (min-width:481px) and (max-width:768px){
    .searchbar{
        width:300px;
    }
}
.searchbar:focus{
    border: 2px solid red;
    outline: none;
}
.sortContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid grey;
    padding:10px;
    gap: 10px;
    height:30px;
    border-radius: 6px;
    width:230px;
    position :relative;

}
.sortBy{
    font-size:16px;
    color:grey;    
    font-weight: none;
    text-align: center;
    white-space: nowrap;

    

}
select{
    border: none;
    color:black;
    font-weight:700;
    outline: none;
    background:none;
    padding: 8px;
    width:100%;
    
    
}



.search{
    color:lightgrey;
    position:absolute;
    left:0px;
    

    /* margin-right:0px; */
    
    
    
    
}
.search1{
    display: inline-block;
    white-space: nowrap;
    padding:5px;
    padding-top:0px;
    font-weight:bold

}
.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 80px;
    position: relative;
    overflow: hidden; /* Ensures placeholder doesn't overflow the container */
}

.search {
    position: absolute;
    top: 25px;
    left: 15px;
    color: lightgrey;
}

/* Animation for fading in */
.fadein {
    animation: fadein 0.7s forwards;
}

/* Animation for fading out */
.fadeout {
    animation: fadeout 0.7s forwards;
}

/* Keyframe for fadein animation */
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframe for fadeout animation */
@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}


